*{
padding: 0; margin: 0;
box-sizing: border-box;
font-size: 10px;
}
/* body */
body{
display: block;
background-color: #282828;
overflow: hidden;
}
.body-light-mode{
display: block;
background-color: #e2e0e0;
overflow: hidden;
}
.wrapper{
display: flex;
flex: 1;
height: 100vh;
justify-content: center;
align-items: center;
}
.inner-wrapper{
display: block;
text-align: center;
}
.light{
margin-bottom: 40px;
padding: 10px 20px;
font-size: 2rem;
font-weight: bolder;
border-radius: 20px;
border: 0; outline: none;
transition: ease-in-out 2s;
}
.light:hover{
transform: scale(1.2);
}
/* container */
.container{
width: 30rem;
height: 30rem;
border-radius: 50%;
border: 7px solid #282828;
box-shadow: 4px 4px 10px rgba(67, 67, 67, 0.5),
      inset 4px 4px 10px rgba(67, 67, 67, 0.5),
            -4px -4px 10px rgba(0, 0, 0, 0.5),
      inset -4px -4px 10px rgba(0, 0, 0, 0.5);          
display: flex;
justify-content: center;
align-items: center;
}
.container-light-mode{
width: 30rem;
height: 30rem;
border-radius: 50%;
border: 7px solid #e2e0e0;
box-shadow: 4px 4px 10px rgba(192, 187, 187, 0.5),
inset 4px 4px 10px rgba(192, 187, 187, 0.5),
-4px -4px 10px rgba(211, 209, 209, 0.5),
inset -4px -4px 10px rgba(211, 209, 209, 0.5);          
display: flex;
justify-content: center;
align-items: center;
}
/* clock */
.clock{
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 100%;
      background-color: #282828;
      z-index: -1;
}
.clock-light-mode{
position: relative;
width: 100%;
height: 100%;
overflow: hidden;
border-radius: 100%;
background-color: #e2e0e0;
z-index: -1;
}
.clock::after{
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
transform: rotate(90deg);
}
.clock::after,.clock::before, .clock .lines{
content: '';
position: absolute;
width: 5px;
height: 100%;
background: #1df52f;
z-index: 0;
left: 49%;
}
.clock .lines{
background: #bdbdcb;
width: 3px;
}
.line1{
transform: rotate(30deg);
}
.line2{
transform: rotate(60deg);
}
.line3{
transform: rotate(120deg);
}
.line4{
transform: rotate(150deg);
}
/* inner */
.inner{
position: absolute;
background-color: #282828;
width: 80%;
height: 80%;
border-radius: 100%;
z-index: 1;
left: 10%;
top: 10%;
}
.inner-light-mode{
position: absolute;
background-color: #e2e0e0;
width: 80%;
height: 80%;
border-radius: 100%;
z-index: 1;
left: 10%;
top: 10%;
}
.inner::before{
content: "";
position: absolute;
background: #4d4b63;
width: 10px; height: 10px;
border-radius: 100%;
top: 48%; left: 48%;
z-index: 11;
}
.hand{
position: absolute;
transform: rotate(90deg);
background: #61afff;
top: 50%;
right: 50%;
border-radius: 20%;
transform-origin: 100%;
transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.hand-hour{
height: 5px;
width: 20%;
z-index: 3;   
}
.hand-min{
width: 30%;
z-index: 5;
height: 4px;
}
.hand-sec{
 width: 35%;
 height: 3px;
 background: #ee791a;
 z-index: 10;  
}

/* analog */
.analog{
font-size: 2rem;
padding: 5px 20px;
outline: 0; border: 0;
border: 1px #1df52f solid;
border-radius: 20px;
background-color: #28282809;
margin-top: 80px; margin-left: 30px;
color: #1df52f;
font-weight: bolder;
transition: ease-in-out 2s;
}
.analog:hover{
transform: scale(1.1);
color: #61afff;
border: 1px #61afff solid;
}
/* digital */
.digit{
display: none;
border: 7px solid #282828;
box-shadow: 4px 4px 10px rgba(67, 67, 67, 0.5),
      inset 4px 4px 10px rgba(67, 67, 67, 0.5),
            -4px -4px 10px rgba(0, 0, 0, 0.5),
      inset -4px -4px 10px rgba(0, 0, 0, 0.5); 
border-radius: 20px;
padding: 10px;
}
.digit-light-mode{
display: none;
border: 7px solid #e2e0e0;
box-shadow: 4px 4px 10px rgba(192, 187, 187, 0.5),
inset 4px 4px 10px rgba(192, 187, 187, 0.5),
-4px -4px 10px rgba(211, 209, 209, 0.5),
inset -4px -4px 10px rgba(211, 209, 209, 0.5);     
border-radius: 20px;
}
.digit-inner, span{
font-size: 3rem;
font-family: sans-serif;
color: #61afff;
font-weight: 500;
padding: 5px 10px;
}
.hr, .min{
color: #61afff;
}
.sec{
color: #ee791a;
}
.period{
color:#1df52f
}

